header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  padding-right: 2rem;
  width: 100vw;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.header-logo img {
  width: 5rem;
}

.header-menus {
  width: 56vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.background-img {
  width: 100vw;
  height: 100vh;
  background-color: #919191;
}

.about-us {
  width: 100vw;
  height: 100vh;
}
