html,
body {
  width: 100vw;
  height: 200vh;
}

.title {
  width: 100vw;
  height: 50vh;
  background-image: url("../img/유체화킨하람형.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: watch 0.3s linear infinite both;
}
.title > img{
  -webkit-filter: grayscale(100%);
  filter: gray;
}

.main_banner {
  width: 28vw;
  height: 9vw;
  border-color: black;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 5vh;
  font-weight: bold;
  color: white;
}

h1 {
  font-size: 3vw;
  font-style: italic;
  font-weight: bold;
  padding: 2vh;
}
.week1-box1{
  height: 100%;
  width: 16%;
  /* border-style: solid;
  border-width: 5px;
  border-color: red; */
  float: left;
  background-color:  #a8a4a4bd;
  background-image: url("../img/쿠민1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-filter: grayscale(100%);
  filter: #373a3c;
}
.week1-box2{
  height: 100%;
  width: 82.8%;
  float: left;
  background-image: url("../img/소바과제1.png");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-filter: grayscale(100%);
  filter: #373a3c;
}
.week1:hover .week1-box1{
  filter: none;
}
.week1:hover .week1-box2{
  filter: none;
}
.week2-box1{
  height: 100%;
  width: 16%;
  /* border-style: solid;
  border-width: 5px;
  border-color: red; */
  float: left;
  background-color:  #a8a4a4bd;
  background-image: url("../img/쿠민2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-filter: grayscale(100%);
  filter: #373a3c;
}
.week2-box2{
  height: 100%;
  width: 82.8%;
  float: left;
  background-image: url("../img/스터디2주차.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: #373a3c;
}
.animateIn:hover .week2-box1{
  filter: none;
}
.animateIn:hover .week2-box2{
  filter: none;
}
.week3-box1{
  height: 100%;
  width: 16%;
  /* border-style: solid;
  border-width: 5px;
  border-color: red; */
  float: left;
  background-color:  #a8a4a4bd;
  background-image: url("../img/쿠민3.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-filter: grayscale(100%);
  filter: #373a3c;
}
.week3-box2{
  height: 100%;
  width: 82.8%;
  float: left;
  background-image: url("../img/소바과제2.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: #373a3c;
}
.animateIn:hover .week3-box1{
  filter: none;
}
.animateIn:hover .week3-box2{
  filter: none;
}
.week4-box1{
  height: 100%;
  width: 16%;
  /* border-style: solid;
  border-width: 5px;
  border-color: red; */
  float: left;
  background-color:  #a8a4a4bd;
  background-image: url("../img/쿠민4.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-filter: grayscale(100%);
  filter: #373a3c;
}
.week4-box2{
  height: 100%;
  width: 82.8%;
  float: left;
  background-image: url("../img/스터디4주차.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: #373a3c;
}
.animateIn:hover .week4-box1{
  filter: none;
}
.animateIn:hover .week4-box2{
  filter: none;
}
/* .week5-box1{
  height: 100%;
  width: 29%;
  float: left;
  background-color:  #a8a4a4bd;
  background-image: url("../img/강아지1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-filter: grayscale(100%);
  filter: #373a3c;
}
.week5-box2{
  height: 100%;
  width: 69.8%;
  float: left;
  background-image: url("../img/강아지2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: #373a3c;
}
.animateIn:hover .week5-box1{
  filter: none;
}
.animateIn:hover .week5-box2{
  filter: none;
}
.week6-box1{
  height: 100%;
  width: 29%;
  float: left;
  background-color:  #a8a4a4bd;
  background-image: url("../img/고양이1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: #373a3c;
}
.week6-box2{
  height: 100%;
  width: 69.8%;
  float: left;
  background-image: url("../img/고양이2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: #373a3c;
}
.animateIn:hover .week6-box1{
  filter: none;
}
.animateIn:hover .week6-box2{
  filter: none;
} */
.week1{
  width: 100vw;
  height: 50vh;
  background-color: #c4c4c4;
}

.animateOut{
  width: 100vw;
  height: 50vh;
  background-color: #7c7c7c;
  opacity: 0;
  transition: opacity 1s ease;
}
.animateIn{
  width: 100vw;
  height: 50vh;
  background-color: #7c7c7c;
  opacity: 1;
  transition: opacity 2.5s ease;
}




/* @keyframes watch{
  0% {transform: translate(0)}
  20%{transform: translate(-2px,2px)}
  40%{transform: translate(-2px,-2px)}
  60%{transform: translate(2px,2px)}
  80%{transform: translate(2px,-2px)}
  100%{transform: translate(0)}
} */



#profile_img_upload{
  width: 0.1px;
height: 0.1px;
opacity: 0;
overflow: hidden;
position: absolute;
z-index: -1;
}

#profile_img_upload + label {
  border: 1px solid #d9e1e8;
  background-color: #fff;
  color: #2b90d9;
  border-radius: 2rem;
  padding: 8px 17px 8px 17px;
  font-weight: 500;
  font-size: 15px;
  box-shadow: 1px 2px 3px 0px #f2f2f2;
  outline: none;
}
