html,
body {
  width: 100vw;
  height: 100vh;
}

.test{
  color: red;
}

main{
  width: 100vw;
  height: 90vh;
  background-image: url("../img/cloud.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
}
.main-text{
  writing-mode: vertical-rl;
  transform: rotate(270deg);
  font-size: 80px;
  font-weight: bold;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(64,224,208,1) 100%, rgba(0,212,255,1) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-reflect: right -4vmin -webkit-gradient(linear, right top, left bottom, from(transparent), color-stop(50%, transparent) , to(rgba(250, 250, 250, 0.4)));
}
.left-logo{
  margin-right: 5%;
  margin-top: 36%;
  width: 30vw;
  transform: rotate(270deg);
  transform-origin: left top;
  user-select: none;
}

.left-logo-name{
  font-size: 3vw;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.4vw;
  color: #40E0D0;
}

.right-box{
  display: flex;
  flex-direction: column;
}

.menu-web{
  width: 35vw;
  height: 11vw;
  background-image: url("../img/소바최고.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 19%;
  left: 35%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-roadmap{
  width: 35vw;
  height: 11vw;
  background-image: url("../img/소바최고.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 44%;
  left: 57%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-pgrowth{
  width: 35vw;
  height: 11vw;
  background-image: url("../img/소바최고.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 69%;
  left: 35%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-web-txt{
  position: absolute;
  left: 20%;
  top: 70%;
  font-size: 30px;
  font-weight: bold;
  transform: scale(2,2);
  transition: all 0.25s linear 0.2s;
  opacity: 0;
}
.menu-web-txt2{
  position: absolute;
  left: 70%;
  top: 20%;
  font-size: 30px;
  font-weight: bold;
  transform: scale(2,2);
  transition: all 0.25s linear 0.2s;
  opacity: 0;
}
.menu-web:hover{
  background-image: url("../img/소바단체사진.jpeg");
}

.menu-web:hover .menu-web-txt{
  opacity: 1;
  transform: scale(1,1);
  left: 70%;
}
.menu-web:hover .menu-web-txt2{
  opacity: 1;
  transform: scale(1,1);
  left: 15%;
}
.menu-roadmap-txt{
  position: absolute;
  left: 20%;
  top: 70%;
  font-size: 30px;
  font-weight: bold;
  transform: scale(2,2);
  transition: all 0.25s linear 0.2s;
  opacity: 0;
}
.menu-roadmap-txt2{
  position: absolute;
  left: 70%;
  top: 20%;
  font-size: 30px;
  font-weight: bold;
  transform: scale(2,2);
  transition: all 0.25s linear 0.2s;
  opacity: 0;
}
.menu-roadmap:hover{
  background-image: url("../img/소바단체사진.jpeg");
}
.menu-roadmap:hover .menu-roadmap-txt{
  opacity: 1;
  transform: scale(1,1);
  left: 70%;
}
.menu-roadmap:hover .menu-roadmap-txt2{
  opacity: 1;
  transform: scale(1,1);
  left: 15%;
}
.menu-pgrowth-txt{
  position: absolute;
  left: 20%;
  top: 70%;
  font-size: 30px;
  font-weight: bold;
  transform: scale(2,2);
  transition: all 0.25s linear 0.2s;
  opacity: 0;
}
.menu-pgrowth-txt2{
  position: absolute;
  left: 70%;
  top: 20%;
  font-size: 30px;
  font-weight: bold;
  transform: scale(2,2);
  transition: all 0.25s linear 0.2s;
  opacity: 0;
}
.menu-pgrowth:hover{
  background-image: url("../img/소바단체사진.jpeg");
}
.menu-pgrowth:hover .menu-pgrowth-txt{
  opacity: 1;
  transform: scale(1,1);
  left: 70%;
}
.menu-pgrowth:hover .menu-pgrowth-txt2{
  opacity: 1;
  transform: scale(1,1);
  left: 15%;
}
.popup{
  width: 20vw;
  height: 20vh;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  text-align: right;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  left: 30%;
  top: 55%;
  transform: translate(-50%,-50%);
  background: #fff;
  opacity: 0;
  transition: all 0.5s;
  z-index: 5;

}
.popup a{
  color: gray;
  text-decoration: none;
}
.popup:target {
  opacity: 1;
}
.popup:target + .dim {
  opacity: 1;
  z-index: 2;
}

.dim{
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 111%;
  opacity: 0; 
  z-index: -1;
  transition: all 0.5s;
}
