.students-coding_name{
    background-image: url("../img/study2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
}
.coding_post_info_name1:hover{
    color: red;
}
.coding_post_info_name2:hover{
    color: white;
}